:root {
    box-sizing: border-box;  /*Applies border box sizing to the root element*/ 
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: white;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit; /* Tells all other elements and pseudo-elements to inherit their box sizing */             
  }

  html {
    background-image: url(./anastase-maragos-DHsdSeCpjRU-unsplash.jpg);
    background-size: 100vw;
    background-position: left;
  }

  /* body {
    display: block;
    margin: auto;

  } */


  form {
    display: block;
    margin: auto;
    padding: 2em 2em;
    text-align: justify;
    width: 60%;
    background-color: rebeccapurple;
    opacity: 0.75;
    
  }