:root {
    box-sizing: border-box;  /*Applies border box sizing to the root element*/ 
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
    color: white;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit; /* Tells all other elements and pseudo-elements to inherit their box sizing */            
  }

  html {
    background-image: url(./anastase-maragos-DHsdSeCpjRU-unsplash.jpg);
    background-size: cover;
    background-position: 50% 25%;
  }

  body {
    font-family: Poppins, sans-serif;
    margin: 0;
  }

p {
  font-weight: bold;
  color: orange;
  background-color: black;
  opacity: 0.75;
  margin: 0;
  padding: 0 1em;
  text-align: center;
  }

  /* Hides the long description for mobile devices*/
  #description {
    display: none;
  }

  h1 {
    font-family: 'Orbitron', 'sans-serif';
    font-size: 2rem;
    color: orange;
    background-color: black;
    opacity: 0.75;
    margin: 0;
    padding: 0 1em;
  }

  form {
    display: block;
    margin: 2em auto;
    padding: 2em 1em;
    text-align: left;
    width: 85%; 
    background-color: rebeccapurple;
    opacity: 0.75;
    border-radius: 0.5em;
  }

  label {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    font-family: Raleway, sans-serif;
    margin-bottom: 0.75em;
  }

  select {
    font-family: Raleway, sans-serif;
    margin-bottom: 0.75em;
    cursor: pointer;
  }

  /*Changes the cursor over the calendar icon */
  input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  #special-label {
    text-align: justify;
  }

  /*************************************************************/
  /*I set the width for the input boxes that don't need to span 
  across the whole form width  */
  input.location,
  input.activities {
    width: auto;
    cursor: pointer;
  }

  #number {
    width: 50%;
  }

  /*I adjust the width so that the checkbox and label of Terms 
  and Conditions display on the same line*/
  #tcs-label {
    width: auto;
    cursor: pointer;
  }

  /*************************************************************/

  #dropdown{
    margin-bottom: 0.75em;
  }

  #columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.5em 0;
  }

  .special {
    text-align: justify;
  }

  .tcs {
    font-size: 0.85rem;
    color:chartreuse;
    font-weight: bold;
  }

  #submit {
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: chartreuse;
    opacity: 0.75;
    color: black;
    border: 2px solid purple;
    border-radius: 0;
    cursor: pointer;
  }

  #submit:hover {
    background-color: orange;
  }
  /*******************************************************/
  /********* Tablet Devices - Larger than 480px **********/
  /*******************************************************/
  @media (min-width: 30em) {        
    :root {                          
      font-size: 1rem;            
    } 

    #description,
    #title {
      display: block;
    }

    /*Hides the short description under the main heading*/
    #mobile-description {
      display: none;
    }

    form {
      width: 75%;
      padding: 2em 1.5em;
    }
  }
  /*******************************************************/
  /***** To adjust the checkboxes section where the layout 
  changes to two columns - Screens larger than 592px *****/
  /*******************************************************/
  @media (min-width: 37em) {
    #columns {
      flex-wrap: nowrap;
      justify-content: space-around;
      }
    }
  /********************************************************/
  /***** Tablet Devices Landscape - Larger than 768px *****/
  /********************************************************/
  @media (min-width: 48em) {       
    form {
      width: 70%;
    }
  }
  /********************************************************/
  /********** Laptop Devices - Larger than 1024px**********/
  /********************************************************/
  @media (min-width: 64em) { 
    form {
      width: 60%;
    }
  }
  /********************************************************/
  /********** Large screens - Larger than 1600px **********/
  /********************************************************/

  @media (min-width: 100em) { 
    form {
      width: 40%;
    }
  }
